.App {
  width: 960px;
  margin: 0 auto;
}
div {
  outline: none;
}

p {
  margin: 0;
}

.container {
  user-select: none;
  .selected {
    background-color: rgba(98, 155, 255, 0.2);
  }
}

.selection-area {
  background: rgba(46, 115, 252, 0.11);
  border: 2px solid rgba(98, 155, 255, 0.81);
  border-radius: 0.1em;
}
